<div class="row mx-0">
  <div class="col-md-4 mx-auto border p-4 rounded-3 bg-light form-company">
    <%= form_with(model: place) do |form| %>
      <% if place.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

          <ul>
            <% place.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :place_name, class: 'form-label' %>
        <%= form.text_field :place_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :node_name, class: 'form-label' %>
        <%= form.text_field :node_name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= form.label :company, class: 'form-label' %>
        <%= form.collection_select :company_id, Company.order(:id), :id, :company_name %>
      </div>


      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
  </div>
</div>